---
import InputText from "../components/InputText.astro";
import FormLayout from "../layouts/FormLayout.astro";


---
<FormLayout>
	<h2 slot="subtitulo">Ingrese información</h2>
	<InputText 
	    etiqueta="Nombre completo"
	    slot="caja-texto-nombre"
		 
	  />
	<InputText
	  	etiqueta="Apellido completo"
		slot="caja-texto-apellido"
	/>
	<InputText
	  	etiqueta="correo Electronico"
		slot="email"
	/>
</FormLayout>