 .form{
        display: block;
        background-color: rgb(253, 251, 248);
        width: 400px;
        border: 2px solid black;
        margin:20px auto;
        border-radius: 15px;
        box-shadow: 10px 10px 5px 0px rgba(150,149,149,0.75);
    }
 .titulo{
    text-align: center;
    color: rgb(243, 36, 9);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom:200px;
    }